<div class="container-fluid p-0">
  <div class="py-3">
    <h3 class="text-center"><strong>Inbox</strong></h3>
  </div>
  <div class="row g-0">
    <div class="col-md-4 bg-light">
      <div class="list-group list-group-flush">
        <% @chats.each do |chat| %>
          <% other_user_username = chat.other_user_username(current_user) %>
          <% other_user = User.find_by(username: other_user_username) %>
          <a href="#" class="list-group-item list-group-item-action chat-link" data-chat-id="<%= chat.id %>">
            <div class="d-flex align-items-center">
              <%= cl_image_tag 'user-pp_xuzmvv', class: "avatar me-3 rounded-circle" %>
              <div class="flex-grow-1">
                <div class="name">
                  <%= link_to chat_path(chat) do %>
                    <%= other_user.username %>
                  <% end %>
                </div>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 bg-white">
      <div class="p-3">
        <div class="chat-sub-header d-flex justify-content-between align-items-center text-white py-2 mb-3">
          <p class="mb-0 fw-bold">You are now chatting with <strong><%= @chat.name %></strong></p>
          <!-- Additional buttons or actions can be placed here -->
        </div>
        <div class="messages" data-chat-subscription-target="messages" data-controller="chat-subscription">
          <% @chat.messages.each do |message| %>
            <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %> mb-3">
              <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                <%= render "messages/message", message: message %>
              </div>
            </div>
          <% end %>
        </div>
        <%= turbo_frame_tag "message-frame" do %>
          <!-- Frame content, if needed -->
        <% end %>
        <div class="input-form mt-3 d-flex">
          <%= simple_form_for [@chat, Message.new], html: { data: { controller: 'chat-subscription', action: "turbo:submit-end->chat-subscription#resetForm" }, class: "d-flex" } do |f| %>
            <div class="flex-grow-1">
              <%= f.input :content, label: false, placeholder: "Message", wrapper_html: { class: "form-group mb-0" } %>
            </div>
            <div class="col-auto">
              <%= f.submit "Send", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
